<mat-nav-list>
  <h3 mat-subheader>Project</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="projects"></mat-icon>
    <span mat-line>Home</span>
    <span mat-line class="subtitle">Check your projects</span>
  </mat-list-item>
  <h3 mat-subheader>Calendar</h3>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="month"></mat-icon>
    <span mat-line>Monthly Check</span>
    <span mat-line class="subtitle">Check your projects monthly</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon svgIcon="week"></mat-icon>
    <span mat-line>Weekly Check</span>
    <span mat-line class="subtitle">Check your projects weekly</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon mat-list-icon [svgIcon]="day"></mat-icon>
    <span mat-line>Daily Check</span>
    <span mat-line class="subtitle">Check your projects daily</span>
  </mat-list-item>
</mat-nav-list>