<form class="form-login">
  <mat-card class="card-login">
    <mat-card-header> <mat-card-title>Login:</mat-card-title> </mat-card-header>
    <mat-card-content>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="email" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput type="text" placeholder="password" />
      </mat-form-field>
      <button mat-raised-button type="button">Login</button>
    </mat-card-content>
    <mat-card-actions>
      <p class="text-right"><a mat-button>Creat account</a></p>
      <p class="text-right "><a mat-button>Find password</a></p>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card-login">
    <mat-card-header>
      <mat-card-title>Daily Word</mat-card-title>
      <mat-card-subtitle>Hello World!</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://via.placeholder.com/200x100.png/09f/fff"
      alt=""
    />
    <mat-card-content> Hello World!!! </mat-card-content>
  </mat-card>
</form>
